*.conf
.google*
.uuid
.HA_VERSION
customize.yaml
home-assistant*
ip_bans.yaml
known_devices.yaml
google_assistant_service.json
.ps4-games.json
secrets.yaml
.storage
ssl
caseta.key
caseta.crt
caseta-bridge.crt
badnest.yaml
config/tts/*
config/panel_iframe.yaml
